body{
    background-image: url(/Project/Pictures/background1.jpg);
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    width: 100%;
    background-color: skyblue;
    padding: 10px;
}
.navbar a {
    text-decoration: none;
    margin: 10px;
    font-size: 28px;
    color: black;
    transition: 0.1s;
}
.navbar a:hover{
    color: mintcream;
    text-decoration: underline;
    transition: 0.1s;
}

.navbar a:active{
    color: darkblue;
    text-decoration: underline;
}
.navbar a.active{
    color: mintcream;
    text-decoration: underline;
}
.loginbtn{
    padding-right: 20px;
}
a.loginbtn:hover{
    color: greenyellow;
    border: none;
    text-decoration: underline;
}
a.loginbtn:active{
    color: green;
    border: none;
    text-decoration: underline;
}
.nobackend{
    margin-top: 4%;
    margin-left: 25%;
}
.disclaimer{
    margin-left: 30%;
    color: red;
}