body{
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative;
    text-align: right;
    width: 100%;
    height: 70px;
    background-color: skyblue;
    overflow: hidden;
    float: left;
}
.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 35px;
    padding: 13px;
    line-height: 65px;
    color: black;
    transition: 0.15s;
}
.navbar a:hover{
    color: mintcream;
    text-decoration: underline;
    transition: 0.15s;
}

.navbar a:active{
    color: lightgreen;
    text-decoration: underline;
}
.navbar a.active{
    color: mintcream;
    text-decoration: underline;
}
/*.lighthouse{
    position: relative;
    box-sizing: border-box;
    width: 35vw;
    height: 30vh;
    border: 5px solid skyblue;
    top: 80px;
    left: 31%;
    background-color: white;
}

.homeimage > img {
    width: 100%;
    height: 100%;
}
.homeimage > img:hover {
    opacity: 0.6;
}
.lighthouse-heading{
    position: absolute;
    left: 3%;
    top: 12%;
    color: red;
    font-size: 28px;
}*/